<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">

            <!-- Authenticator App Icon -->
            <h1><img src="https://seeklogo.com/images/A/authenticator-app-logo-8A6943A509-seeklogo.com.png" alt="icon" width="20%" height="20%"/></h1>

            <!-- Text inviting users to login or register -->
            <p>Login to an existing account or register</p>

            <!-- Button to navigate to the login page -->
            <a href="/auth/login" class="btn btn-primary btn-block">Login</a>

            <!-- Button to navigate to the registration page -->
            <a href="/auth/register" class="btn btn-secondary btn-block mb-2">Register</a>
            
        </div>
    </div>
</div>
